/* ===== Desktop Extra Large (1250px y m치s) ===== */
@media screen and (min-width: 1250px) {
  .menu-mobile {
    display: none;
  }
  .imageLuis {
    height: 100vh;
  }
  .tools {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .tools_container {
    grid-template-columns: repeat(4, 1fr);
    width: 960px;
  }
  .carousel-track {
    flex-direction: row;
  }
  .all_projects {
    gap: 40px;
  }
  .projects {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .projectsImg {
    width: 650px;
  }
  h1 {
    margin-top: 70px;
    color: white;
    font-size: 39px;
    font-family: -webkit-body;
    text-align: center;
  }
  .txt_proyect {
    font-size: 22px;
    text-align: center;
  }
  .imgLogo {
    width: 50px;
  }
  .tools1 {
    height: 400px;
    width: 287px;
  }
}

/* ===== Desktop / Laptop (hasta 1240px) ===== */
@media screen and (max-width: 1240px) {
  .imageLuis {
    display: flex;
  }
  .dentro {
    width: 350px;
    height: 350px;
  }
  .tools1 {
    height: 350px;
    width: 285px;
  }
  .projectsImg {
    width: 320px;
  }
  .tools {
    height: 100vh;
  }
}

/* ===== Tablet Horizontal / Laptop Peque침o ===== */
@media screen and (max-width: 1024px) {
  .menu-mobile {
    float: right;
    margin: 10px;
  }
  .mobile_menu {
    float: right;
    width: 100%;
    height: 100vh;
    background-color: black;
    list-style: none;
    margin: 0;
  }
  .mobile_menu a p {
    text-align: center;
    font-size: 45px;
  }
  .menu_list {
    display: none;
  }
  .list_menu li {
    margin-bottom: 38px;
  }
  .footer p {
    font-size: 14px;
    text-align: center;
    padding: 0;
  }
  .footerMenu {
    flex-direction: column;
    align-items: center;
  }
  .imageLuis {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: 100vh;
    justify-content: center;
  }
  .Botones {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 0 18px;
    margin-top: 40px;
  }
  .Botones a {
    width: 100%;
    padding: 16px 0 25px;
    font-size: 23px;
  }
  .direction {
    display: none;
  }
  .tools_container {
    display: grid;
    justify-items: center;
  }
  h1 {
    font-size: 54px;
  }
  h3 {
    font-size: 25px;
    text-align: center;
  }
  .projects {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* ===== Tablet (hasta 950px) ===== */
@media screen and (max-width: 950px) {
  .tools_container {
    width: 640px;
  }
  .layout_projects h3 {
    font-size: 25px;
  }
  .projectsImg {
    width: 642px;
  }
  .imageLuis .parte2 p {
    font-size: 40px;
    margin: 4px;
    text-align: center;
  }
  .footer p {
    font-size: 18px;
  }
  .footer {
    gap: 30px;
  }
}

/* ===== Tablet Vertical / Celular Grande ===== */
@media screen and (max-width: 768px) {
  .tools_container {
    width: 640px;
  }
  .layout_projects h3 {
    font-size: 25px;
  }
  .projectsImg {
    width: 642px;
  }
  .imageLuis .parte2 p {
    font-size: 40px;
    margin: 4px;
    text-align: center;
  }
  .footer p {
    font-size: 18px;
  }
  .footer {
    gap: 30px;
  }
}

/* ===== Celulares Medianos ===== */
@media screen and (max-width: 540px) {
  .tools_container {
    grid-template-columns: repeat(1, 1fr);
  }
  .tools1 {
    width: 311px;
  }
  .toolsTxt {
    width: 69%;
  }
  .projectsImg {
    width: 380px;
  }
  .footerMenu {
    flex-direction: column;
  }
}

/* ===== Celulares Peque침os ===== */
@media screen and (max-width: 480px) {
  .tools_container {
    height: 761px;
  }
  .carousel-track {
    flex-direction: column;
  }
  .footer p {
    font-size: 15px;
  }
  .tools1 {
    width: 311px;
    height: 348px;
  }

  .projectsImg {
    width: 300px;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  h1 {
    font-size: 34px;
    margin-bottom: 1px;
  }
  h3 {
    font-size: 22px;
  }
  .Botones a {
    padding: 10px;
  }
  .mobile_menu a p {
    font-size: 40px;
  }
}

/* ===== Celulares Extra Peque침os ===== */
@media screen and (max-width: 390px) {
  .projectsImg {
    width: 285px;
  }
  .imageLuis .parte2 p {
    font-size: 16px;
  }
  .dentro {
    width: 230px;
    height: 230px;
  }
  .footerMenu {
    margin: 43px;
  }
  .footerC p {
    font-size: 13px;
  }

  .tools_container {
    height: 390px;
  }
  .layout_projects h3 {
    font-size: 18px;
  }
  .all_projects {
    gap: 2px;
  }
  .btnA {
    width: 30px;
  }
  .tools1 {
    width: 310px;
    height: 350px;
  }
  .tools1 span {
    font-size: 14px;
  }
  .txt_proyect {
    font-size: 18px;
    text-align: center;
  }
  .tools1 span {
    font-size: 13px;
  }
  h1 {
    font-size: 30px;
    margin-top: 64px;
  }
  .imgLogo {
    width: 40px;
  }
  .Botones a {
    padding: 7px;
  }
  .mobile_menu a p {
    font-size: 30px;
  }
}
/* @media screen and (max-width: 300px) {
  .projectsImg {
    width: 200px;
  }
  .dentro {
    width: 220px;
    height: 220px;
    margin-top: 30px;
  }
  h1 {
    margin-bottom: 1px;
  }
  .mobile_menu a p {
    font-size: 30px;
  }
} */
