.styleBody {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  color: #f0f0f0;
  --main-color: #0f172a;
  --accent-color: #0c48cb;
  --bg-color: #000000;
  --text-color: #1e293b;
}

.container {
  width: 800px;
  margin: auto;
  padding: 2rem;
  background: #110e0e;
}

h1,
h2,
h3 {
  color: #f0f0f0;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 0;
}

.about {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.about img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #8d1818;
}

.about-text {
  max-width: 500px;
}

.about-text p {
  font-size: 1.05rem;
  line-height: 1.6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.titles {
  margin-top: 2.5rem;
}

.titles ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.titles li {
  margin-bottom: 0.5rem;
  font-size: 1.05rem;
}

.titles li::before {
  margin-right: 5px;
}

.title-images {
  margin-top: 1.5rem;
}

.title-images h3 {
  margin-bottom: 1rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.gallery img {
  width: 250px;
  height: auto;
  border: 2px solid #cbd5e1;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
}

.quote {
  margin-top: 2.5rem;
  text-align: center;
  font-style: italic;
  color: #475569;
}

.back {
  display: inline-block;
  margin-top: 2rem;
  background: #740d0d;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
  text-align: center;
}

.back:hover {
  background: #910808;
}

.center {
  text-align: center;
}

@media (max-width: 600px) {
  .about {
    flex-direction: column;
    text-align: center;
  }
  .about-text {
    width: 55%;
  }
  h1,
  h2,
  h3 {
    text-align: center;
  }
  .gallery {
    justify-content: center;
  }
  .titles ul {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .about img {
    width: 150px;
    height: 150px;
  }
  .about-text {
    width: 44%;
  }
  .titles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .titles ul {
    font-size: 0.9rem;
    width: 45%;
  }
  .gallery {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 390px) {
  .about img {
    width: 150px;
    height: 150px;
  }
  .about-text {
    width: 44%;
  }
  .titles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .titles ul {
    font-size: 0.9rem;
    width: 45%;
  }
  .gallery {
    flex-direction: column;
    align-items: center;
  }
}
