.tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tools_container {
  overflow: hidden;
  margin: 0 auto;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: max-content; /* asegura que se acomode al contenido */
}
.direction {
  width: 44px;
  display: flex;
  align-items: center;
}
.tools1 {
  background-color: #141111;
  margin: 13px;
  display: flex;
  flex-direction: column;
  border: 2px solid #000000;
  border-radius: 9px;
  transition: border-color 0.3s;
  align-items: center;
  justify-content: center;
}
.tools1:hover {
  border-color: #8d0d0d;
}
.tools1 img {
  width: 50px;
}
.tools1 span {
  text-align: center;
  margin: 0 10px;
  font-size: 15px;
  max-height: 155px;
}

.tools_container_wrapper {
  display: flex;
}
h1 {
  color: white;
  font-family: -webkit-body;
  text-align: center;
}
h2 {
  font-size: 20px;
}
.toolsButton {
  display: flex;
  align-items: center;
  width: 10%;
  height: 100%;
  justify-content: center;
}
.toolsButonE {
  width: 41px;
  height: 41px;
}

.tools1.active {
  display: block;
}
.oculto {
  display: none !important;
}
#cuadroOculto {
  position: absolute;
  background-color: #141111;
  width: 45%;
  height: 19%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ordeIcons {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}
